

  /* Requirement 1 code here -- Do not remove this comment. */
  a.skip{
    background: #red;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
    position: absolute ;
    top: -200px; /* means it will be 200px above the frame grid runs like reverse y courdinate ( negative numbers ascend) */
    left: -400px; /* means it will 400px left. numbers run like normal x cordinate */
  }

  /* Requirement 2 code here -- Do not remove this comment. */
  nav a:focus{
    text-decoration-line:overline ;
    text-decoration-thickness: 10px; /* --thickness-- */
    text-decoration-color: yellow;   /* --color-- */
    outline: none; /*--remove outline-- */
  }

  /* Requirement 3 code here -- Do not remove this comment. */
.container{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  row-gap: 30px;
}

  /* Requirement 4 code here -- Do not remove this comment. */
.intro{
  background-image: url("images/header.jpg") ;
  background-color: #858585 ;
  min-height: 400px;


}

  /* Requirement 5 code here -- Do not remove this comment. */

  /* Requirement 6 code here -- Do not remove this comment. */


  /* Requirement 7 code here -- Do not remove this comment. */
  

  /* Requirement 8 code here -- Do not remove this comment. */










  /* Requirement 9 code here -- Do not remove this comment. */




  /*Add the media query here.  Make sure to */

@media {
  nav{
    padding-top: 35px;
    /* Requirement 10 code here -- Do not remove this comment. */

    text-align:right

  }

  nav li{
    margin-left: 5%;
    margin-right:0;
  }

  
  /* Requirement 11 code here -- Do not remove this comment. */



  /* Requirement 12 code here -- Do not remove this comment. */
  


  /* Requirement 13 code here -- Do not remove this comment. */
 

  /* Requirement 14 code here -- Do not remove this comment. */
 

  /* Requirement 15 code here -- Do not remove this comment. */
}

/** Code for prefers reduced motion **/
/* Make no changes below this line.
   *************************************** 
   */
   @media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
      scroll-behavior: auto; /* Removes scroll animation */
    }
  
    /*Turn off transition*/
    a.skip {
      -webkit-transition: initial; /* sets to default setting */
      transition: initial; /* sets to default setting */
    }
  
    /*Turn off parallax*/
    .intro{
      background-attachment: initial;
    }
  }